| Machine | Session Creation | Session Get |
|---------|------------------|-------------|
| Mac Studio; M1 Max, 32 GB Ram       | 3200 ms           | 880 ms        |
| e2-standard4 (cloud shell)       | 24848 ms           | 5426 ms        |
| N4-Standard 8       | 3613 ms           | 604 ms        |
| N4-Standard 2       | 6006 ms           | 759 ms        |